<!-- 导航条
================================================== -->
<div id="top">
    <div class="top">
        <div class="top_container">
            <p class="top_home">
                <a href="#">第e商城首页</a>
            </p>
            <p class="top_login">
                <em>欢迎来第e商城</em>
                <a href="#" class="e_login">请登录</a>
                <a href="#" class="e_login">免费注册</a>
            </p>
            <ul class="merchant">
                <li class="center">
                    <a href="#">商家中心</a>
                </li>
                <li class="center">
                    <a href="#">商家地图</a>
                </li>
                <li>
                    <a href="#">手机版</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="logo">
    <div id="header">
        <div class="logo">
       <span class="e_logo">
        <a href="#">
            <img src="__IMG__/logo_03.png">
        </a>
       </span>
       <span class="s_logo">
        <a href="#">招商</a>
       </span>
        </div>
    </div>
</div>
<div id="nav">
    <div class="nav">
        <ul class="nav_ul">
            <li>
                <a href="index.html">招商首页</a>
            </li>
            <li>
                <a href="brand.html">招商品牌</a>
            </li>
            <li>
                <a href="normal.html">招商标准</a>
            </li>
            <li>
                <a href="charges.html">资费标准</a>
            </li>
            <li>
                <a href="feature.html">特色服务</a>
            </li>
            <li>
                <a href="know.html">了解第e商城</a>
            </li>
        </ul>
    </div>
</div>