<extend name="Base/common"/>
<block name="header">
    <link href="__CSS__/feature.css" rel="stylesheet" type="text/css">
    <script src="__JS__/feature.js"></script>
</block>
<block name="body">
    <div class="wbox">
        <div class="jin_rong">
            <div class="finance">
                <h3>金融服务</h3>
                <span class="finance_text">为商户提供支付、贷款、保险等全方位的金融服务。</span>
            </div>
        </div>
    </div>
    <div class="wbox2">
        <div class="shu_ju">
            <div class="data">
                <h3>数据服务</h3>
                <span class="data_text">为第e商城的商户提供全方位、多角度、<br>深层次的大数据分析服务。</span>
            </div>
        </div>
    </div>
    <div class="wbox3">
        <div class="ad">
            <div class="advert">
                <h3>广告服务</h3>
                <span class="advert_text">为商户提供精准营销服务，<br>结合第e物流大数据系统，<br>让你的店铺流量飞起来。</span>
            </div>
        </div>
    </div>
    <div class="wbox4">
        <div class="pei_xun">
            <div class="cultivate">
                <h3>培训服务</h3>
                <span class="cultivate_text">为商户提供专业的电商知识培训，<br>让你深入触网，做好互联网营销。</span>
            </div>
        </div>
    </div>
</block>



