<extend name="Base/common"/>
<block name="header">
    <link href="__CSS__/know.css" rel="stylesheet" type="text/css">
    <script src="__JS__/know.js"></script>
</block>
<block name="body">
    <div class="content_box">
        <div class="box_title">
            <h3>了解第e商城</h3>
        </div>
        <div class="introduction">
            <div class="introduction_left">
                <img src="__IMG__/know1.png" width="500" height="367">
            </div>
            <div class="introduction_right">
                <h4>第e商城简介</h4>
                <p>第e商城是一个垂直型的物流设备的在线商城，因此第e商城只支持物流设备的厂家、经销商等入驻成为第e商城的商家。华瀚（上海）科技股份有限公司成立于2014年12月，总部位于上海市虹口区汶水东路351号1876老站创意园，
                    是经上海市工商行政管理局批准注册的型的物流设备的在线商城。公司主要从事计算机软硬件技术开发 、技术转让和高新科技项目投资等。公司具有专业的技术开发团队和丰富经验的市场运行团队，是目前中国大
                    型互联网综合服务提供商之一，也是中国终端服务用户最具潜力的互联网企业之一，更是世界新一代电子商务倡导“同城交易”的领跑者。公司一直秉承一切以用户价值为依归的经营理念；以面向未来，坚持自主创新，
                    树立民族品牌为长远发展规划；以“团队协作、精简高效、求真务实、开拓创新” 为宗旨。</p>
                <p>第e商城是一个垂直型的物流设备的在线商城，因此第e商城只支持物流设备的厂家、经销商等入驻成为第e商城的商家。广西嘉程科技有限公司成立于2007年12月，总部位于绿城南宁高新技术开发区，
                    是经广西壮族自治区工商行政管理局批准注册的新兴大型互联网科技企业。公司主要从事计算机软硬件技术开发 、技术转让和高新科技项目投资等。公司具有专业的技术</p>
            </div>
        </div>
        <div class="team_work">
            <div class="team_work_left">
                <h4>合作伙伴</h4>
                <p>第e商城是一个垂直型的物流设备的在线商城，因此第e商城只支持物流设备的厂家、经销商等入驻成为第e商城的商家。华瀚（上海）科技股份有限公司成立于2014年12月，总部位于上海市虹口区汶水东路351号1876老站创意园，
                    是经上海市工商行政管理局批准注册的型的物流设备的在线商城。公司主要从事计算机软硬件技术开发 、技术转让和高新科技项目投资等。公司具有专业的技术开发团队和丰富经验的市场运行团队，是目前中国大
                    型互联网综合服务提供商之一，也是中国终端服务用户最具潜力的互联网企业之一，更是世界新一代电子商务倡导“同城交易”的领跑者。公司一直秉承一切以用户价值为依归的经营理念；以面向未来，坚持自主创新，
                    树立民族品牌为长远发展规划；以“团队协作、精简高效、求真务实、开拓创新” 为宗旨。</p>
                <p>第e商城是一个垂直型的物流设备的在线商城，因此第e商城只支持物流设备的厂家、经销商等入驻成为第e商城的商家。广西嘉程科技有限公司成立于2007年12月，总部位于绿城南宁高新技术开发区，
                    是经广西壮族自治区工商行政管理局批准注册的新兴大型互联网科技企业。公司主要从事计算机软硬件技术开发 、技术转让和高新科技项目投资等。公司具有专业的技术</p>
            </div>
            <div class="team_work_right">
                <img src="__IMG__/know.png" width="500" height="367">
            </div>
        </div>
    </div>
</block>



