<extend name="Base/common"/>


<block name="body">
    <div class="banner">
        <div class="bannercont">
            <ul>
                <li><img src="__IMG__/a1.jpg"></li>
                <li><img src="__IMG__/a2.jpg"></li>
                <li><img src="__IMG__/a3.jpg"></li>
                <li><img src="__IMG__/a4.jpg"></li>
            </ul>
        </div>
        <div class="hd">
            <ul>
            </ul>
        </div><!--圆点-->
        <div class="pnBtn prev">
            <a class="arrow" href="javascript:void(0)"></a>
        </div>
        <div class="pnBtn next">
            <a class="arrow" href="javascript:void(0)"></a>
        </div>
        <div id="onclick"><a class="banner_ruzhu info_larger info_primary info_btn">立即入驻</a></div>
    </div>
    <div class="info">
        <div class="wrap">
            <div class="brands">
                <div class="info_brand">
                    <div class="info_box">
                        <div class="info_title">
                            <h2>我的品牌能否入驻第e商城？</h2>
                            <div class="info_sub">查询您的品牌是否在第e商城核准开店标准内</div>
                        </div>
                        <a href="brand.html" class="info_larger info_primary info_btn">查询品牌</a>
                    </div>
                </div>
                <div class="info_brand">
                    <div class="info_box">
                        <div class="info_title">
                            <h2>入驻需要哪些材料?</h2>
                            <div class="info_sub">查询自身行业所需要提交的资质</div>
                        </div>
                        <a href="normal.html" class="info_larger info_primary info_btn">查询招商标准</a>
                    </div>
                </div>
                <div class="info_brand">
                    <div class="info_box">
                        <div class="info_title">
                            <h2>申请遇到疑问了吗？</h2>
                            <div class="info_sub">咨询电话(021) 65800910 工作日 09:00-18:00</div>
                        </div>
                        <a href="#" class="info_larger1 info_btn1">咨询在线客服</a>
                    </div>
                </div>
                <div class="info_brand">
                    <div class="info_box info_list">
                        <!--     <div class="sui-title">
                                 <h2>已入驻商家</h2>
                             </div>-->
                        <div class="notice_list">
                            <div class="ruzhu">
                                <img src="__IMG__/ruzhu.png" width="52" height="51">
                            </div>
                            <div class="shop_right">
                                <p>入驻商家<br>360,0000</p>
                                <div class="clearfix"></div>
                            </div>
                            <!-- <ul>
                                 <li><a href="#" title="第e商城招商及续签考核标准调整公告">第e商城招商及续签考核标准调整公告</a></li>
                                 <li><a href="#" title="第e商城2016年度各类目续签考核标准一览表">第e商城2016年度各类目续签考核标准一览表</a></li>
                                 <li><a href="#" title="7月1日生效的《第e商城2015年度招商资质细则》">7月1日生效的《第e商城2015年度招商资质细则》</a></li>
                                 <li><a href="#" title="《互联网支付服务协议》、《支付服务协议》调整公告">《互联网支付服务协议》、《支付服务协议》调整公告</a></li>
                                 <li><a href="#" title="第e商城类目申请流程升级公告">第e商城类目申请流程升级公告</a></li>
                             </ul>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="process">
        <div class="wrapper">
            <div class="process_title">
                <div class="title_info">
                    <h2>入驻流程</h2>
                </div>
            </div>
            <ul class="process_icon">
                <li class="icon"><div class="process_icon_line"></div></li>
                <li class="icon01"><div class="process_icon_line"></div></li>
                <li class="icon02"><div class="process_icon_line"></div></li>
                <li class="icon03"><div class="process_icon_line"></div></li>
                <li class="icon04"><div class="process_icon_line"></div></li>
                <li class="icon05"></li>
            </ul>
            <div class="process_know">
                <div class="know_box number_num">
                    <div class="know_title">
                        <div class="know_title_info">
                            <h2>1.了解招商标准</h2>
                        </div>
                    </div>
                    <div class="know_list">
                        <ul>
                            <li>查询所经营类目招商的品牌</li>
                            <li>了解入驻所需材料</li>
                            <li>了解相关资费标准</li>
                        </ul>
                    </div>
                </div>
                <div class="know_box number_num">
                    <div class="know_title">
                        <div class="know_title_info">
                            <h2>2.注册和登陆</h2>
                        </div>
                    </div>
                    <div class="know_list">
                        <ul>
                            <li>注册企业版账号</li>
                            <li>登录进入企业招商界面</li>
                            <li>注册和登陆成功</li>
                        </ul>
                    </div>
                </div>
                <div class="know_box number_num">
                    <div class="know_title">
                        <div class="know_title_info">
                            <h2>3.填写/提交信息及资料</h2>
                        </div>
                    </div>
                    <div class="know_list">
                        <ul>
                            <li>填写申请信息，提交资质</li>
                        </ul>
                    </div>
                </div>
                <div class="know_box number_num">
                    <div class="know_title">
                        <div class="know_title_info">
                            <h2>4.设置店铺名称和域名</h2>
                        </div>
                    </div>
                    <div class="know_list">
                        <ul>
                            <li>选择店铺名称及域名</li>
                            <li>在线签署服务协议</li>
                        </ul>
                    </div>
                </div>
                <div class="know_box number_num">
                    <div class="know_title">
                        <div class="know_title_info">
                            <h2>5.等待第e商城审核</h2>
                        </div>
                    </div>
                    <div class="know_list">
                        <ul>
                            <li>第e商城7个工作日内给到审核结果</li>
                            <li>如提交资质未通过审核，请在15个工作日内完成修改并提交，逾期未提交，申请状态将失效</li>
                        </ul>
                    </div>
                </div>
                <div class="know_box number_num">
                    <div class="know_title">
                        <div class="know_title_info">
                            <h2>6.店铺上线，入驻成功</h2>
                        </div>
                    </div>
                    <div class="know_list">
                        <ul>
                            <li> 锁定保证金，缴纳技术服务年费</li>
                            <li>发布商品 ，店铺上线</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog_box box_overlay" style="width:1190px; z-index:9999999; left:365px; top:240px; display:none" id="close">
        <a href="#" class="dialog_close">
            <span class="dialog_span"></span>
        </a>
        <div class="dialog_content">
            <div class="dialog_header">
                入驻申请
            </div>
            <div class="dialog_body">
                <div class="text_container">
                    <p>亲，根据2015第e商城整体服务升级计划，即日起正式执行新进驻商家招商标准。以下是各行业今年意愿招商的品牌方向，请务必仔细查阅您申请入驻的品牌是否在以下范围。</p>
                </div>
            </div>
            <iframe src="brand1.html" frameborder="no" border="0" marginwidth="0" marginheight="0" width="1190" height="500">
            </iframe>
            <div class="dialog_btn">
                <button class=" dialog_onlcik btn_bg btn_cont" style="border:none;">确定，继续入驻</button>
                <button class=" dialog_quxiao qu_xiao">取消</button>
            </div>
        </div>
    </div>
</block>

