@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
    outline:none;}
img{
	border:none;}
.fl{
	float:left;}
.fr{
	float:right;}
a{
	text-decoration:none;
	color:#999;}
.clearfix{
	clear:both;}
ul{
	list-style:none;}
body{
	color:#545454;
    background:#ffffff;
	font:12px/1.5 tahoma,arial,"\5b8b\4f53";
	/*font-family:"微软雅黑","microsoft yahei","宋体",Arial,tahoma,Simsun;*/
/*	font-size:14px;*/
	font-style:normal;}
#top{
	background:#f2f2f2;
	min-width:990px;
	width:100%;
	height:26px;
	border-bottom:1px solid #e5e5e5;}
.top{
	width:990px;
	height:26px;
/*	background:#F63;*/
	margin:0 auto;}
.top_container{
	width:100%;
	height:26px;
	position:relative;}
.top_home{
	height:26px;
	line-height:26px;
	margin-right:20px;
	float:left;}
.top_login{
	height:26px;
	line-height:26px;
	margin-right:20px;}
.top_login em{
	font-style:normal;
	color:#999;}
.e_login{
	padding-left:20px;}
.top_login a:hover{
	color:#c40000;
	text-decoration:underline;}
.top_home a{
	color:#999;}
.top_home a:hover{
	color:#c40000;
	text-decoration:underline;}
.merchant{
	position:absolute;
	right:0;
	top:0;
	height:26px;
	line-height:26px;
	-webkit-backface-visibility:hidden;}
.merchant li{
	float:left;}
.center{
	padding:0 10px;}
.merchant li a:hover{
	color:#c40000;
	text-decoration:underline;}
#logo{
	width:100%;}
#header{
	width:990px;
	margin:0 auto;}
.logo{
	padding-top:32px;
	width:400px;
	height:64px;
	line-height:64px;
	font-weight:bold;
	position:relative;}
.e_logo{
	float:left;
    margin-right:10px;}
.s_logo{
	border-left:1px solid #ccc;
	padding-left:15px;
	vertical-align:middle;
    line-height:18px;
	position:relative;
	height:21px;
	top:13px;
	float:left;
	display:block;}
.s_logo a{
	font-size:22px;
	color:#fe0000;}
#nav{
	position:relative;
	background:#000;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:16px;
/*	padding:0 20px;*/
	box-shadow:0 4px 4px 0 rgba(0,0,0,.5);
	z-index:999;}
.nav{
	width:990px;
	margin:0 auto;
	background:#FF3;}
.nav_ul{}
.nav_ul li{
	float:left;}
.nav_ul li a{
	min-width:60px;
	font-size:16px;
	color:#fff;
	text-decoration:none;
	padding:0 20px;
	text-align:center;
	display:block;
	transition:.3s ease-in-out;}
.cur{
	background-color:#c40000;}
.nav_ul li a:hover{
	background-color:#333;}
.main_Content {
	width:990px;
	margin:0 auto;
	padding:20px 0;}
.main_Content .info{
	width:987px;
	background:#eee;
	border:1px solid #d0d0d0;
	margin:10px 0;
	padding:10px 0;
	text-indent:2em;}
.main_brand{
	height:60px;
	background-color:#ebebeb;}
.brand_list{
	padding-bottom:6px;
/*	margin-top:-6px;*/}
.brand_list li{
	width:84px;
	padding-left:50px;
	float:left;
	height:48px;
	margin-left:40px;
	margin-top:6px;
	border:1px solid #d0d0d0;
	padding-left:65px;
	line-height:48px;
	background-color:#ffffff;
	position:relative;
	font-weight:700;
	margin-bottom:10px;}
.brand_list li.brand_active{
	border-color:#940000;
	background-color:#b0181a;
	color:#FFF;
	cursor:default;}
.brand_list li.brand_active a{
	color:#FFF;
	display:block;}
.shopping{
	position:relative;
	padding:30px 0 15px;
 	z-index:111;
	padding-top:10px;}
.shop_wrap{
	position:relative;
	width:318px;
	float:left;
	background:#fff;
	margin-right:17px;}
.shopping div.rz_hover{
	margin-bottom:-200px;
	background:#FFF;}
.shopping .rz_hover dl{
	background:#FFF;
	height:auto;
	position:relative;
	top:0;
	left:0;
	z-index:111;}
.shopping .rz_hover dl dd{
	height:auto;
	background:#FFF;}
.shopping .rz_hover dl dt{
	background:#FFF;}
.rz_hover dl dd div.wrap{
	height:300px;
	-webkit-transition:all .3s ease-in;
	transition:all .3s ease-in;
	background:#FFF;}
.shop_wrap dl{
	width:316px;
	background:#fff;
	border:1px solid #d8d8d8;
	padding:1px;}
.shop_wrap dl dt h3{
	font-size:20px;
	line-height:60px;}
.shop_wrap dl dt{
	text-align:center;
	padding:30px 0;
	background:#f4f4f4;}
.shop_wrap dl dd{
	line-height:25px;
	color:#999;
	background:#f4f4f4;
	height:99px;
	padding:5px 20px 20px;}
.shop_wrap dl dt a{
	display:inline-block;
	width:170px;
	height:43px;
	background:url(../images/shop.png) no-repeat 1px top;
	cursor:pointer;}
.shop_wrap dl dt a.danpin{
    background-position: 1px -45px;}
.shop_wrap dl dt a.duopin{
	background-position: 1px -88px;}
.one{
	display:inline-block;
	width:253px;
	height:66px;
	background:url(../images/q_22.png) no-repeat;
	cursor:pointer;}
.wrap{
	height:100px;
	overflow:hidden;}
.brand_list li a{
	color:#595959;
	font-size:14px;
/*	margin-left:15px;*/}
.brand_list b{
	position:absolute;
	display:block;
	width:41px;
	height:40px;
	left:15px;
	top:5px;
	background-image:url(../images/icon.png);
	background-repeat:no-repeat;}
.brand_list b.icon1{
	background-position:0 -6px;}
.brand_list b.icon2{
	background-position:-68px 0;}
.brand_list b.icon3{
	background-position:-135px -1px;}
.brand_list b.icon4{
	background-position:-204px -1px;}
.brand_list b.icon5{
	background-position:-271px -1px;}
.brand_list b.icon11{
	background-position:0 -58px;}
.brand_list b.icon22{
	background-position:-68px -54px;}
.brand_list b.icon33{
	background-position:-135px -54px;}
.brand_list b.icon44{
	background-position:-204px -54px;}
.brand_list b.icon55{
	background-position:-271px -54px;}		
.box_cont{
	padding:15px;
	background-color:#f2f2f2;
	border:5px solid #ebebeb;
    margin-bottom:10px;
	margin-top:10px;}
li.brandlun{
	padding-left:95px;
	width:855px;}
.brandlunInfo li{
	position:relative;
	padding-bottom:15px;}
.luntai{
	position:absolute;
	width:80px;
	top:50%;
	margin-top:-19px;
	left:0;
	font-weight:700;}
.brand_box{
	border-top:1px solid #e0e0e0;
	background-color:#fff;
	padding:5px 0 5px 30px;
	line-height:30px;}
.brand_box span{
/*	float:left;*/
	width:150px;
	overflow:hidden;
	height:30px;
	margin-right:10px;
	text-overflow:ellipsis;
	line-height:30px;
	white-space:nowrap;
	display:inline-block;}
.join_in{
	display:block;
	width:159px;
	height:39px;
	border-radius:10px;
	background:#b01e23;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	text-align:center;}
.join_in a{
	width:159px;
	height:39px;
	cursor:pointer;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	line-height:39px;
	letter-spacing:4px;}
#footer{
	min-height:200px;
/*	border-top:1px solid #D1D7DC;*/
	clear:both;
	text-align:center;
	position:relative;
	background:#F5F5F5;
    font-family:"Helvetica Neue",HelveticaNeue,Arial,sans-serif;}
.copyright{
	text-align:center;
	min-height:177px;}
.footer_otherlink{
	width:1190px;
	margin:auto;
	color:#fff;
	line-height:25px;
	padding:40px 0 0 20px;}
#footer p a{
	color:#7E7E7E;
	font-family:"Helvetica Neue",HelveticaNeue,"Hiragano Sans GB","Microsoft YaHei","Microsoft Yahei UI","Segoe UI",Arial,sans-serif;
	margin-right:14px;}
#footer p a:hover{
	color:#7E7E7E;
	text-decoration:underline;}
.footer_copyright{
	width:1190px;
	margin:auto;
	padding:0 0 20px 20px;
	line-height:20px;
	color:#a4a4a4;}
.footer_copyright p{
	color:#7E7E7E;
	margin-top:10px;}