@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
    outline:none;}
img{
	border:none;}
.fl{
	float:left;}
.fr{
	float:right;}
a{
	text-decoration:none;
	color:#999;}
.clearfix{
	clear:both;}
ul,ol{
	list-style:none;}
body{
	color:#545454;
    background:#ffffff;
	font-family:"微软雅黑","microsoft yahei","宋体",Arial,tahoma,Simsun;
	font-size:12px;
	font-style:normal;}
#top{
	background:#f2f2f2;
	min-width:990px;
	width:100%;
	height:26px;
	border-bottom:1px solid #e5e5e5;}
.top{
	width:1190px;
	height:26px;
/*	background:#F63;*/
	margin:0 auto;}
.top_container{
	width:100%;
	height:26px;
	position:relative;}
.top_home{
	height:26px;
	line-height:26px;
	margin-right:20px;
	float:left;}
.top_login{
	height:26px;
	line-height:26px;
	margin-right:20px;}
.top_login em{
	font-style:normal;
	color:#999;}
.e_login{
	padding-left:20px;}
.top_login a:hover{
	color:#c40000;
	text-decoration:underline;}
.top_home a{
	color:#999;}
.top_home a:hover{
	color:#c40000;
	text-decoration:underline;}
.merchant{
	position:absolute;
	right:0;
	top:0;
	height:26px;
	line-height:26px;
	-webkit-backface-visibility:hidden;}
.merchant li{
	float:left;}
.center{
	padding:0 10px;}
.merchant li a:hover{
	color:#c40000;
	text-decoration:underline;}
#logo{
	width:100%;}
#header{
	width:1190px;
	margin:0 auto;}
.logo{
	padding-top:32px;
	width:400px;
	height:64px;
	line-height:64px;
	font-weight:bold;
	position:relative;}
.e_logo{
	float:left;
    margin-right:10px;}
.s_logo{
	border-left:1px solid #ccc;
	padding-left:15px;
	vertical-align:middle;
    line-height:18px;
	position:relative;
	height:21px;
	top:13px;
	float:left;
	display:block;}
.s_logo a{
	font-size:22px;
	color:#fe0000;}
#nav{
	position:relative;
	background:#000;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:16px;
/*	padding:0 20px;*/
	box-shadow:0 4px 4px 0 rgba(0,0,0,.5);
	z-index:999;}
.nav{
	width:1190px;
	margin:0 auto;
	background:#FF3;}
.nav_ul{}
.nav_ul li{
	float:left;}
.nav_ul li a{
	min-width:60px;
	font-size:16px;
	color:#fff;
	text-decoration:none;
	padding:0 20px;
	text-align:center;
	display:block;
	transition:.3s ease-in-out;}
.cur{
	background-color:#c40000;}
.nav_ul li a:hover{
	background-color:#333;}
.content_box{
	width:1190px;
	margin:0 auto;}
.box_title{
	height:auto;}
.box_title h3{
	display:block;
	padding-top:60px;
	font-size:20px;
	padding-left:30px;
	padding-bottom:20px;}
.introduction{
	height:auto;
	display:inline-block;}
.introduction_left{
	float:left;
	margin-top:10px;
	margin-left:20px;
	width:520px;
	height:387px;
	background:#F5F5F5;
	border:1px #CCC solid;}
.introduction_left img{
	float:left;
	padding:10px;}
.introduction_right{
	float:left;
	width:630px;}
.introduction_right p{
	display:block;
	text-indent:2em;
	color:#8d9095;
	line-height:24px;
	font-size:14px;
	padding-left:90px;}
.introduction_right h4{
	margin:5px 0 10px 86px;
	font-size:18px;}
.team_work{
	margin-bottom:100px;
	height:auto;
	display:inline-block;}
.team_work_left{
	float:left;
	width:610px;
	margin-top:50px;
	padding-left:20px}
.team_work_left p{
	display:block;
	text-indent:2em;
	font-size:14px;
	color:#8d9095;
	line-height:24px;}
.team_work_left h4{
	margin:5px 0 5px 0;
	font-size:18px;}
.team_work_right{
	float:left;
	margin-top:50px;
	margin-left:35px;
	width:520px;
	height:387px;
	background:#F5F5F5;
	border:1px #CCC solid;}
.team_work_right img{
	padding:10px;}
#footer{
	min-height:200px;
/*	border-top:1px solid #D1D7DC;*/
	clear:both;
	text-align:center;
	position:relative;
	background:#F5F5F5;
    font-family:"Helvetica Neue",HelveticaNeue,Arial,sans-serif;}
.copyright{
	text-align:center;
	min-height:177px;}
.footer_otherlink{
	width:1190px;
	margin:auto;
	color:#fff;
	line-height:25px;
	padding:40px 0 0 20px;}
#footer p a{
	color:#7E7E7E;
	font-family:"Helvetica Neue",HelveticaNeue,"Hiragano Sans GB","Microsoft YaHei","Microsoft Yahei UI","Segoe UI",Arial,sans-serif;
	margin-right:14px;}
#footer p a:hover{
	color:#7E7E7E;
	text-decoration:underline;}
.footer_copyright{
	width:1190px;
	margin:auto;
	padding:0 0 20px 20px;
	line-height:20px;
	color:#a4a4a4;}
.footer_copyright p{
	color:#7E7E7E;
	margin-top:10px;}


