@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
    outline:none;}

img{
	border:none;}
.fl{
	float:left;}
.fr{
	float:right;}
a{
	text-decoration:none;
	color:#999;}
.clearfix{
	clear:both;}
ul{
	list-style:none;}
body{
	color:#545454;
    background:#ffffff;
	font:12px/1.5 tahoma,arial,"\5b8b\4f53";
	/*font-family:"微软雅黑","microsoft yahei","宋体",Arial,tahoma,Simsun;*/
/*	font-size:14px;*/
	font-style:normal;}
#top{
	background:#f2f2f2;
	min-width:990px;
	width:100%;
	height:26px;
	border-bottom:1px solid #e5e5e5;}
.top{
	width:1190px;
	height:26px;
/*	background:#F63;*/
	margin:0 auto;}
.top_container{
	width:100%;
	height:26px;
	position:relative;}
.top_home{
	height:26px;
	line-height:26px;
	margin-right:20px;
	float:left;}
.top_login{
	height:26px;
	line-height:26px;
	margin-right:20px;}
.top_login em{
	font-style:normal;
	color:#999;}
.e_login{
	padding-left:20px;}
.top_login a:hover{
	color:#c40000;
	text-decoration:underline;}
.top_home a{
	color:#999;}
.top_home a:hover{
	color:#c40000;
	text-decoration:underline;}
.merchant{
	position:absolute;
	right:0;
	top:0;
	height:26px;
	line-height:26px;
	-webkit-backface-visibility:hidden;}
.merchant li{
	float:left;}
.center{
	padding:0 10px;}
.merchant li a:hover{
	color:#c40000;
	text-decoration:underline;}
#logo{
	width:100%;}
#header{
	width:1190px;
	margin:0 auto;}
.logo{
	padding-top:32px;
	width:400px;
	height:64px;
	line-height:64px;
	font-weight:bold;
	position:relative;}
.e_logo{
	float:left;
    margin-right:10px;}
.s_logo{
	border-left:1px solid #ccc;
	padding-left:15px;
	vertical-align:middle;
    line-height:18px;
	position:relative;
	height:21px;
	top:13px;
	float:left;
	display:block;}
.s_logo a{
	font-size:22px;
	color:#fe0000;}
#nav{
	position:relative;
	background:#000;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:16px;
/*	padding:0 20px;*/
	box-shadow:0 4px 4px 0 rgba(0,0,0,.5);
	z-index:999;}
.nav{
	width:1190px;
	margin:0 auto;
	background:#FF3;}
.nav_ul{}
.nav_ul li{
	float:left;}
.nav_ul li a{
	min-width:60px;
	font-size:16px;
	color:#fff;
	text-decoration:none;
	padding:0 20px;
	text-align:center;
	display:block;
	transition:.3s ease-in-out;}
.cur{
	background-color:#c40000;}
.nav_ul li a:hover{
	background-color:#333;}
.banner{
	 width:100%; 
	 height:400px;
	 overflow:hidden;
	 position:relative;}
.bannercont{
	 width:1920px;
	 position:absolute;
	 left:50%;
	 margin-left:-960px;}
.bannercont li{
	 width:1920px;
	 overflow:hidden; 
	 float:left;}
.bannercont li img{
	 width:1920px;
	 height:400px; 
	 display:block;}
.tempWrap{
	overflow:visible!important;}
.tempWrap ul{
	margin-left:-1920px !important;}
.hd{
	position:absolute;
	width:100%;
	left:0;
	z-index:999;
	height:8px;
	bottom:30px;
	text-align:center;}
.hd li{
	width:18px;
	height:18px;
	line-height:18px;
	border-radius:18px;
	background:#ffffff;
	color:#000;
	zoom:1;
	font-size:14px;
	text-align:center;
	vertical-align:central;
	margin:0 8px;
	display:inline-block;
	cursor:pointer;
	filter:alpha(opacity=60);
	opacity:0.6;}
.hd li.on{
	background-position:0 0;
	filter:alpha(opacity=100);
	opacity:1;}/*bot底部的圆点*/
.pnBtn{
	position:absolute;
	z-index:1;
	top:0;
	width:100%;
	height:400px;
	cursor:pointer;}
.prev{
	left:-50%;
	margin-left:-900px;}
.next{
	left:50%;
	margin-left:900px;}/*这两个是控制左右按钮的位置的,带半透明*/
.arrow{
	display:none;
	position:absolute;
	top:160px;
	z-index:1;
	width:21px;
	height:65px;}
.arrow:hover{
	filter:alpha(opacity=60);
	opacity:0.6;}
.prev .arrow{
	right:-200px;
	background:url(../images/left_arrow.png) 0 0 no-repeat;}
.next .arrow{
	left:-200px;
	background:url(../images/right_arrow.png) 0 0 no-repeat;}
.banner_ruzhu{
	height:46px;
	width:120px;
	font-size:20px;
	line-height:46px;
	color:#fff;
	left:50%;
	position:absolute;
	z-index:1;
	top:235px;
	margin-left:-80px;
	box-shadow:0px 0px 0px 0px #fff;}
.info{
	margin:50px auto;
	height:150px;
	width:100%;
	text-align:center;}
.wrap{
	width:1190px;
	margin:0 auto;
	position:relative;
	font-size:13px;}
.brands{
	margin-right:-10px;
    zoom:1;
	background:#FC6;}
.info_brand{
	width:290px;
	margin:0px 10px 0px 0px;
	float:left;
	display:inline;}
.info_box{
	border-right:1px solid #eee;
	height:150px;}
.info_title{
	padding:4px;
	position:relative;
	font-size:0px;}
.info_title h2{
	font-size:20px;
	display:inline-block;
	color:rgb(51, 51, 51);
/*	margin:0px 4px;*/}
.info_sub{
	font-size:12px;
	margin-top:5px;
	color:rgb(153, 153, 153);
	display:inline-block;}
.info_btn{
	margin-top:24px;
	cursor:pointer;
    text-align:center;}
.info_btn:hover{
	background-color:#f73e3e;
	-webkit-transition:.2s ease-in-out;
	transition:.2s ease-in-out;}
.info_btn1{
	margin-top:24px;
	cursor:pointer;
    text-align:center;
	color:#666;
	background-color:#f6f6f6;
    border:1px solid #ccc;}
.info_btn1:hover{
	text-decoration:none;
	box-shadow:0 4px 4px 0 rgba(0,0,0,.1);
	color:#333;
	-webkit-transition:.2s ease-in-out;
	transition:.2s ease-in-out;}
.info_larger{
	min-width:80px;
	font-size:16px;
	border-radius:4px;
	height:46px;
	display:inline-block;
	line-height:44px;
	padding:0 20px;}
.info_larger1{
	min-width:80px;
	font-size:16px;
	border-radius:4px;
	height:46px;
	display:inline-block;
	line-height:44px;
	padding:0 20px;}
.info_primary{
	background-color:#df3434;
	color:#fff;
	border-color:#df3434;}
.info_list{
	border-right:none;
	text-align:left;}
.sui-title{
	padding:4px;
	font-size:0px;}
.sui-title h2{
	font-size:18px;
	margin-left:20px;
	display:inline-block;
	color:rgb(51, 51, 51);}
.notice_list{
	position:relative;
	width:185px;
	height:148px;
	border:1px #ccc dotted;}
.ruzhu{
	margin-top:30px;
	margin-left:10px;
	float:left;}
.shop_right{
	color:#fe0000;
	font-size:16px;
	display:block;
	float:left;}
.shop_right p{
	margin-top:33px;
	padding-left:15px;
	font-size:18px;}
/*.notice_list ul{
	margin-left:42px;
	margin-top:-6px;
	list-style:square;
    color:#888;}
.notice_list ul li{
	height:18px;
	margin:6px auto;}
.notice_list ul li a{
	max-width:185px;
	height:18px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	display:inline-block;
	vertical-align:middle;
	color:#333;
    cursor:pointer;
	font-family:"5b8b4f53";}
.notice_list ul li a:hover{
	text-decoration:none;
	color:#c40000;}*/
.process{
	height:452px;
	width:100%;
	zoom:1;
	background-color:#f9f9f9;
	text-align:center;
	position:relative;}
.wrapper{
	width:1190px;
	margin:0 auto;
	position:relative;
	font-size:13px;
	font-family:tahoma, arial, 'Hiragino Sans GB', "5b8b4f53", sans-serif;}
.process_title{
	padding-top:55px;
	padding-bottom:20px;}
.title_info{
	padding:4px;
	font-size:0px;}
.title_info h2{
	font-size:24px;
	display:inline-block;
	color:rgb(51, 51, 51);}
.process_icon{
/*	margin-left:54px;*/
	overflow:hidden;
	margin-top:30px;}
.process_icon li{
	width:100px;
	height:100px;
	float:left;
	position:relative;
	margin:0 45px;}
.process_icon_line {
	position:absolute;
	width:80px;
	height:1px;
	background-color:#ccc;
	top:45px;
	left:105px;}
.icon{
	background:url(../images/icon01_03.png) no-repeat;}
.icon01{
	background:url(../images/icon02_05.png) no-repeat;}
.icon02{
	background:url(../images/icon03_07.png) no-repeat;}
.icon03{
	background:url(../images/icon04_09.png) no-repeat;}
.icon04{
	background:url(../images/icon05_11.png) no-repeat;}
.icon05{
	background:url(../images/icon07_13.png) no-repeat;}
.process_know{
	margin-right:-10px;
	zoom:1;}
.know_box{
	text-align:left;
	position:relative;}
.number_num{
	margin:0px 10px 0px 0px;
	float:left;
	display:inline;
	width:190px;}
.know_title{
	padding-top:20px;
	margin-left:5px;}
.know_title_info{
	padding:4px;
	font-size:0px;}
.know_title_info h2{
	font-size:16px;
	color:#333;
	display:inline-block;}
.know_box ul{
	margin-left:25px;
	margin-right:5px;
	margin-top:20px;}
.know_list{
	position:relative;}
.know_list ul{
	list-style:square;
	color:#888;}
.know_list ul li{
	margin:7px 0;
	position:relative;}
.question {
	background-color:#fff;
	text-align:center;}
.content{
	width:1190px;
	margin:0 auto;
	position:relative;
	font-size:13px;
	font-family:tahoma, arial, 'Hiragino Sans GB', "5b8b4f53", sans-serif;
	height:414px;
	border-bottom:1px solid #F0F0F0;}
.question_title{
	padding-top:55px;
	padding-bottom:20px;}
.question_info{
	padding:4px;
	font-size:0px;}
.question_info h2 {
	font-size:18px;
	display:inline-block;
	color:rgb(51, 51, 51);
	font-size:24px;}
.question_more{
	position:absolute;
	right:20px;
	top:80px;
	font-size:13px;}
.question_more a{
	color:#0f89e8;}
.question_more a:hover{
	text-decoration:underline;}
.rule_enter{
	margin-right:-10px;
	zoom:1;}
.enter_box{
	text-align:left;}
.rule_info{
	width:290px;
	margin:0px 10px 0px 0px;
	float:left;
	display:inline;}
.rule_title{
	padding:0;
	padding-top:20px;
	margin-left:5px;}
.rule_title h2{
	font-size:16px;
	color:#333;}
.rule_list{
	position:relative;}
.enter_box ul{
	margin-left:25px;
	margin-right:5px;
	margin-top:23px;}
.rule_list ul {
	list-style:square;
	color:#888;}
.rule_list ul li a{
	max-width:185px;
	display:inline-block;
	height:18px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	line-height:24px;
	font-size:13px;
	vertical-align:middle;
	color:#333;
	cursor:pointer;
	margin-top:-10px;}
.rule_list ul li a:hover{
	color:#0f89e8;
	text-decoration:underline;}
#footer{
	min-height:200px;
/*	border-top:1px solid #D1D7DC;*/
	clear:both;
	text-align:center;
	position:relative;
	background:#F5F5F5;
    font-family:"Helvetica Neue",HelveticaNeue,Arial,sans-serif;}
.copyright{
	text-align:center;
	min-height:177px;}
.footer_otherlink{
	width:1190px;
	margin:auto;
	color:#fff;
	line-height:25px;
	padding:40px 0 0 20px;}
#footer p a{
	color:#7E7E7E;
	font-family:"Helvetica Neue",HelveticaNeue,"Hiragano Sans GB","Microsoft YaHei","Microsoft Yahei UI","Segoe UI",Arial,sans-serif;
	margin-right:14px;}
#footer p a:hover{
	color:#7E7E7E;
	text-decoration:underline;}
.footer_copyright{
	width:1190px;
	margin:auto;
	padding:0 0 20px 20px;
	line-height:20px;
	color:#a4a4a4;}
.footer_copyright p{
	color:#7E7E7E;
	margin-top:10px;}
.dialog_box{
  padding:0;
  outline:0;
  box-shadow:0 10px 20px 0 rgba(0,0,0,.4);
  min-width:400px;}
.box_overlay{
  position:absolute;}
.dialog_close{
  width:50px;
  height:50px;
  background-image:none;
  border-left:1px solid #eee;
  line-height:50px;
  text-align:center;
  outline:medium none;
  position:absolute;
  right:0;
  top:0;
  z-index:3;
  overflow:hidden;
  display:block;}
.dialog_span{
  width:17px;
  height:16px;
  background:url(../images/colse.png) no-repeat;
  display:block;
  margin:17px 0 0 15px;}
.dialog_content{
  position:relative;
  z-index:2;
  height:100%;
  background:#fff;
  overflow:hidden;}
.dialog_header{
  background-image: none;
  height:auto;
  line-height:30px;
  padding:10px 20px;
  border-bottom:1px solid #eee;
  font-size:18px;
  font-weight:700;
  background-color:#f9f9f9;}
.dialog_body{
  overflow:hidden;}
.text_container{
  box-shadow:none;
  display:flex;
  padding:14px 20px;
  line-height:1.6em;
  background-color:#fff;
  border:0;
  overflow:hidden;
  min-height:20px;
  flex-flow:row;}
.text_container p{
	margin-left:60px;
	font-size:14px;}
.dialog_btn{
  margin:10px 10px 0 0;
  text-align:right;
  padding:0 0 13px;}
.btn_bg{
  background-color:#df3434;
  color:#fff;
  border-color:#df3434;}
.btn_cont{
  display:inline-block;
  padding:0 10px;
  height:32px;
  line-height:30px;
  min-width:80px;
  text-align:center;
  font-size:12px;
  font-weight:400;
  box-sizing:border-box;
  vertical-align:middle;
  -webkit-appearance:none;
  -webkit-user-select:none;
  outline:0;
  text-decoration:none;
  background-image:none;
  border:1px solid #ccc;
  border-radius:2px;}
.btn_cont:hover{
  background-color:#f73e3e;
  transition:.2s ease-in-out;
  text-decoration:none;
  box-shadow:0 4px 4px 0 rgba(0,0,0,.1);}
.dialog_onlcik{
  margin:0;
  margin-left:6px;}
.dialog_quxiao{
  margin:0;
  margin-left:6px;}
.qu_xiao{
  display:inline-block;
  padding:0 10px;
  height:32px;
  line-height:30px;
  color:#666;
  min-width:80px;
  cursor:pointer;
  text-align:center;
  font-size:12px;
  font-weight:400;
  box-sizing:border-box;
  vertical-align:middle;
  -webkit-appearance:none;
  -webkit-user-select:none;
  outline:0;
  text-decoration:none;
  background-image:none;
  background-color:#f6f6f6;
  border:1px solid #ccc;
  border-radius:2px;}
.qu_xiao:hover{
  text-decoration:none;
  box-shadow:0 4px 4px 0 rgba(0,0,0,.1);
  color:#333;
  transition:.2s ease-in-out;}
#onclick{}
#close{}
#remove{}